<div class="toast-container">
  <app-toast *ngIf="toastService.toast$ | async as toast"
             [message]="toast.message"
             [type]="toast.type"
             (closed)="toastService.clear()">
  </app-toast>
</div>

<app-loading-overlay *ngIf="isLoading"></app-loading-overlay>

<div [class.blur]="showModal">
  <app-liability-modal *ngIf="showModal" (closeModalEvent)="closeModal()"></app-liability-modal>
  <div *ngIf="showModeSelect" class="mode-select-screen">
    <div class="header-container">
      <h1 class="header">Welcome to Flightvisualizer</h1>
      <h2 class="subheader">"ESC"-Menu: Please select a mode</h2>
    </div>
    <div class="cards-container">
      <div class="card" (click)="selectMode(1)">
        <img ngSrc="assets/no-text-side.PNG" alt="" height="1073" width="1070">
        <div class="card-content">
          <h2>
            Sandbox
          </h2>
        </div>
      </div>

      <div class="card disabled-card" (click)="selectMode(2)">
        <img ngSrc="assets/no-text-placeholder.PNG" alt="" height="1073" width="1070">
        <div class="card-content">
          <h2>
            Live Feed
          </h2>
        </div>
        <div class="wip-overlay">
          <p>Work In Progress</p>
        </div>
      </div>

      <div class="card" (click)="selectMode(3)">
        <img ngSrc="assets/graph-theory.PNG" alt="" height="1073" width="1070">
        <div class="card-content">
          <h2>
            Graph Theory
          </h2>
        </div>
      </div>
    </div>
    <div class="link-container">
      <a href="mailto:support@flight-visualizer.com" class="link-item">Contact</a>
      <a href="/3rdpartylicenses.txt" target="_parent" class="link-item">Licenses</a>
      <a href="https://github.com/Erijl/flight-visualizer" target="_blank" class="link-item">GitHub</a>
      <a href="https://github.com/Erijl/flight-visualizer/issues" target="_blank" class="link-item">Suggest Feature</a>
    </div>
  </div>
  <app-map *ngIf="renderMap"></app-map> <!-- //TODO add proper routing instead of if -->
  <app-graph-panel style="z-index: 50; width: 500px; height: 1000px" *ngIf="renderGraph"></app-graph-panel>
</div>
