<h1>Time Panel</h1> //TODO outsource to different component

<div class="slider-container">
  <mat-form-field>
    <mat-label>Enter date range or date</mat-label>
    <mat-date-range-input [dateFilter]="dateFilter" [rangePicker]="rangePicker" [(ngModel)]="timeFilter.dateRange">
      <input [(ngModel)]="timeFilter.dateRange.start" (ngModelChange)="onDateRangeChange()" matStartDate placeholder="Start date">
      <input [(ngModel)]="timeFilter.dateRange.end" (ngModelChange)="onDateRangeChange()" matEndDate placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
    <mat-date-range-picker #rangePicker></mat-date-range-picker>
  </mat-form-field>
</div>

<div class="slider-container">
  <mat-slider
    class="enlarged-slider"
    thumbLabel
    tickInterval="1"
    min="0"
    max="1439"
    step="1"
    (change)="onTimeRangeChange()">
    <input [ngModel]="timeFilter.timeRange.start" (ngModelChange)="timeFilter.timeRange.start = $event" matSliderStartThumb>
    <input [ngModel]="timeFilter.timeRange.end" (ngModelChange)="timeFilter.timeRange.end = $event" matSliderEndThumb>
  </mat-slider>
  <div class="values-container">
    UTC:
    <span>{{ convertIntToTimeOfDay(timeFilter.timeRange.start) }}</span>
    -
    <span>{{ convertIntToTimeOfDay(timeFilter.timeRange.end) }}</span>
    <div *ngIf="panelOpenState"> (inclusive slider)</div>
  </div>
</div>

<br>
<mat-expansion-panel (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false">

  <mat-expansion-panel-header>
    <mat-panel-title>
      Advanced Time Options
    </mat-panel-title>
  </mat-expansion-panel-header>
  Time zone selection: (SelectedTimezone (UTC+Offset)
  <br>
  Slider / checkbox: including slider zone or excluding (inverse)
  <br>
  Checkbox: include flights wit dateDiff (check & disable for exclusive)
  <br>
  <br>
  Filter Dropdown:
  <br>
  Arrival & Departure in period
  <br>
  Only Arrival in period
  <br>
  Only Departure in period
  <br>

</mat-expansion-panel>
