### Scheduler ###
spring.task.scheduling.pool.size=20

### API ###
flight.visualizer.api.url=
flight.visualizer.api.client.secret=
flight.visualizer.api.client.id=

### DATABASE ###
spring.jpa.hibernate.ddl-auto=none
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.jpa.show-sql=true

server.port=8080

### CORS ###
flight.visualizer.cors.allowed.origins=https://flight-visualizer.com,http://localhost:4200,http://localhost:8080,http://localhost:8081
flight.visualizer.cors.allowed.methods=GET,OPTIONS
flight.visualizer.cors.allowed.headers=Authorization,Content-Type,Accept
flight.visualizer.cors.maxAge=3600