<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title class="panel-title">
      Detail Panel
    </mat-panel-title>
  </mat-expansion-panel-header>

<div class="selection-container">
    <span class="custom-header">Select:</span>
    <mat-button-toggle-group [(ngModel)]="selectionType" (change)="onSelectionTypeChange()" name="fontStyle"
                             aria-label="Font Style">
      <mat-button-toggle value="airport">Airport</mat-button-toggle>
      <mat-button-toggle value="route">Route</mat-button-toggle>
    </mat-button-toggle-group>
</div>

<div *ngIf="selectionType == 'airport'">
  <app-airport-info></app-airport-info>
</div>
<div *ngIf="selectionType == 'route'">
  <app-route-info></app-route-info>
</div>
</mat-expansion-panel>
