<div class="overlay">
  <div class="backdrop"></div>

    <div class="infinityChrome">
      <div><mat-icon class="airplane">airplanemode_on</mat-icon></div>
      <div><mat-icon class="airplane">airplanemode_on</mat-icon></div>
      <div><mat-icon class="airplane">airplanemode_on</mat-icon></div>
      <div><mat-icon class="airplane">airplanemode_on</mat-icon></div>
      <div><mat-icon class="airplane">airplanemode_on</mat-icon></div>
      <div><mat-icon class="airplane">airplanemode_on</mat-icon></div>
      <div><mat-icon class="airplane">airplanemode_on</mat-icon></div>
  </div>
</div>
