.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  padding: 20px;
  z-index: var(--liability-modal-content-z-index);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  color: #ddd;

  min-width: 200px;
  max-width: 30%;
  width: auto;
  min-height: 200px;
  max-height: 90%;
  height: auto;
  overflow: auto;
}

body.modal-open {
  overflow: hidden;
}

body.modal-open::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(2em);
  filter: blur(5px);
  z-index: var(--liability-modal-background-z-index);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: var(--liability-modal-background-z-index);
}

.modal-title {
  font-size: 2em;
  text-align: center;
}

.keypoints {
  font-size: 1.2em;
  list-style-type: none;
  padding: 0 20px;
  margin: 0;
  text-align: left;
  margin-top: 20px;
}

.keypoints li {
  margin-bottom: 10px;
  text-indent: -20px;
  padding-left: 20px;
}

.understand-button {
  padding: 15px 30px;
  font-size: 1.3em;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 15px;
  background: #e91e62;
  color: #fff;
  border: none;
  transition: background-color 0.3s ease;
}

.understand-button:hover {
  background: #c2185b;
  cursor: pointer;
}

.link-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.link-item {
  color: #ddd;
  text-decoration: none;
  appearance: none;
  cursor: pointer;
}

.highlight {
  padding-top: 20px;
  font-weight: bold;
  padding-left: 20px;
  text-align: center;
  font-size: 1.3em;
}

.sublink {
  color: dodgerblue;
  text-decoration: underline;
  cursor: pointer;
}

.sublink:hover {
  color: darkblue;
}

.centered-content {
  font-size: 1rem;
}

h1 {
  font-size: 2em;
  font-weight: 600;
}

.spacing-top {
  margin-top: 20px;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.full-width {
  width: 100%;
}
