<div [hidden]="selectedAirportFilter.iataCode == ''">
<!--//TODO write a custom component for the airport card
  <mat-card class="airport-card">
    <mat-card-header>
      <mat-card-title>{{ selectedAirport.iataCode }} Airport</mat-card-title>
      <mat-card-subtitle>{{ selectedAirport.airportName }} - {{ selectedAirport.timezoneId ? selectedAirport.timezoneId.split('/')[0] : '?' }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="airport-card-content">
      <div class="info-row">
        <div class="info-pair">
          <span class="info-title">City Code:</span>
          <span class="info-value">{{ selectedAirport.iataCityCode }}</span>
        </div>
        <div class="info-pair">
          <span class="info-title">Country Code:</span>
          <span class="info-value">{{ selectedAirport.isoCountryCode }}</span>
        </div>
      </div>
      <div class="info-row">
        <div class="info-pair">
          <span class="info-title">Latitude:</span>
          <span class="info-value">{{ selectedAirport.latitude }}</span>
        </div>
        <div class="info-pair">
          <span class="info-title">Longitude:</span>
          <span class="info-value">{{ selectedAirport.longitude }}</span>
        </div>
      </div>
      <div class="info-row">
        <div class="info-pair">
          <span class="info-title">Timezone:</span>
          <span class="info-value">{{ selectedAirport.timezoneId ? selectedAirport.timezoneId.split('/')[1].replaceAll("_", " ") : '?' }}</span>
        </div>
        <div class="info-pair">
          <span class="info-title">UTC Offset:</span>
          <span class="info-value">{{ selectedAirport.offsetUtc }}h</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>-->

  <br>
  <h2>Flight Routes</h2>
  <div>
    <mat-checkbox [(ngModel)]="specificAirportRoutesOutgoing" [color]="'primary'" (change)="onOutgoingChange()">Outgoing</mat-checkbox>
    <mat-checkbox [(ngModel)]="specificAirportRoutesIncoming" [color]="'primary'" (change)="onIncomingChange()">Incoming</mat-checkbox>
    <br>
    <!--<input type="checkbox" [(ngModel)]="compactFlightRouteInformationTable" (change)="oncompactFlightRouteInformationTableChange()"> Incoming-->
  </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="origin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Origin</th>
        <td mat-cell *matCellDef="let route"> {{ route.originAirportIataCode }}</td>
      </ng-container>

      <ng-container matColumnDef="destination">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Destination</th>
        <td mat-cell *matCellDef="let route"> {{ route.destinationAirportIataCode }}</td>
      </ng-container>

      <ng-container matColumnDef="kilometerDistance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Distance</th>
        <td mat-cell *matCellDef="let route"> {{ route.distanceKilometers }}Km</td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-header"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20]"
                   [showFirstLastButtons]="false"
                   aria-label="Select page of incoming routes">
    </mat-paginator>
  </div>

</div>

<div [hidden]="selectedAirportFilter.iataCode != ''" class="error-message">
  <p>No Airport Selected</p>
  <p>Please select an airport from the map</p>
</div>
