<div [hidden]="selectedAirport.iataAirportCode == ''">

  <div>
    <h2>Airport Information</h2>
    <p>{{ selectedAirport.iataAirportCode }}</p>
    <p>{{ selectedAirport.airportName }}</p>
    <p>{{ selectedAirport.iataCityCode }}</p>
    <p>{{ selectedAirport.isoCountryCode }}</p>
    <p>{{ selectedAirport.latitude }}</p>
    <p>{{ selectedAirport.longitude }}</p>
    <p>{{ selectedAirport.timezoneId }}</p>
    <p>UTC{{ selectedAirport.offsetUtc }}</p>
  </div>

  <br>
  <h2>Flight Routes</h2>
  <div>
    <input type="checkbox" [(ngModel)]="specificAirportRoutesOutgoing" (change)="onOutgoingChange()"> Outgoing
    <input type="checkbox" [(ngModel)]="specificAirportRoutesIncoming" (change)="onIncomingChange()"> Incoming
    <br>
    <!--<input type="checkbox" [(ngModel)]="compactFlightRouteInformationTable" (change)="oncompactFlightRouteInformationTableChange()"> Incoming-->
  </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="origin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Origin</th>
        <td mat-cell *matCellDef="let route"> {{ route.originAirport.iataAirportCode }}</td>
      </ng-container>

      <ng-container matColumnDef="destination">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Destination</th>
        <td mat-cell *matCellDef="let route"> {{ route.destinationAirport.iataAirportCode }}</td>
      </ng-container>

      <ng-container matColumnDef="kilometerDistance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Distance</th>
        <td mat-cell *matCellDef="let route"> {{ route.kilometerDistance }}Km</td>
      </ng-container>
      ser

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-header"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20]"
                   [showFirstLastButtons]="false"
                   aria-label="Select page of incoming routes">
    </mat-paginator>
  </div>
</div>
<!--
<ng-container [hidden]="selectedAirport.iataAirportCode != ''">
  <h2>No Airport Selected</h2>
  <p>Please select an airport from the map</p>
</ng-container>
-->
