<mat-card *ngIf="selectedRoute.originAirportIataCode != ''" class="route-card">

  <mat-card-header>
    <mat-card-title>{{ selectedRoute.originAirportIataCode }} to {{ selectedRoute.destinationAirportIataCode }}</mat-card-title>
  </mat-card-header>

  <mat-card-content class="route-card-content">
    <div class="route-subtitle flex-container">
      <span class="route-origin">{{ selectedRoute.details?.originAirportName }}</span>
      <mat-icon class="route-icon">airplanemode_on</mat-icon>
      <span class="route-destination">{{ selectedRoute.details?.destinationAirportName }}</span>
    </div>

    <div class="info-row">
      <div class="info-pair">
        <span class="info-title">Departure:</span>
        <span class="info-value">{{ selectedRoute.originAirportIataCode }}</span>
      </div>
      <div class="info-pair">
        <span class="info-title">Arrival:</span>
        <span class="info-value">{{ selectedRoute.destinationAirportIataCode }}</span>
      </div>
    </div>

    <div class="info-row">
      <div class="info-pair">
        <span class="info-title">Departure Time:</span>
        <span class="info-value">{{ selectedRoute.details?.departureTimeUtc | intToTimeofday }}</span>
      </div>
      <div class="info-pair">
        <span class="info-title">Arrival Time:</span>
        <span class="info-value">{{ selectedRoute.details?.arrivalTimeUtc | intToTimeofday }}</span>
      </div>
    </div>

    <div class="info-row">
      <div class="info-pair">
        <span class="info-title">Est. Distance:</span>
        <span class="info-value">{{selectedRoute.distanceKilometers}}Km</span>
      </div>
      <div class="info-pair">
        <span class="info-title">Duration:</span>
        <span class="info-value">{{ selectedRoute.durationMinutes | intToTimeofday }}h</span>
      </div>
    </div>
  </mat-card-content>

</mat-card>


<div *ngIf="selectedRoute.originAirportIataCode == ''" class="error-message">
  <p>No Route Selected</p>
  <p>Please select an airport from the map</p>
</div>
