body {
  margin: 0;
  padding: 0;
  overflow: hidden !important;
}

.map-container {
  position: relative;
  width: 100vw; /* Use viewport width */
  height: 100vh; /* Use viewport height */
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.side-panel {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 300px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-side-panel {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 400px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-row {
  height: 30px !important;
}

.table-header {
  height: 30px !important;
}

table {
  width: 100%;
}
