<div class="map-container">

  <div id="map"></div>
  <div class="left-side-panel">
    <h1>Information Panel</h1>

    <mat-form-field>
      <mat-label>Enter date range or date</mat-label>
      <mat-date-range-input [dateFilter]="dateFilter" [rangePicker]="rangePicker" [(ngModel)]="selectedDateRange"
                            (change)="onDateRangeChange()">
        <input [(ngModel)]="selectedDateRange.start" (ngModelChange)="onDateRangeChange()" matStartDate placeholder="Start date">
        <input [(ngModel)]="selectedDateRange.end" (ngModelChange)="onDateRangeChange()" matEndDate placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
      <mat-date-range-picker #rangePicker></mat-date-range-picker>
    </mat-form-field>

    <br>
    <div class="slider-container">
      <mat-slider
        class="enlarged-slider"
        thumbLabel
        tickInterval="1"
        min="0"
        max="1439"
        step="1">
        <input [ngModel]="timeStart" (ngModelChange)="timeStart = $event" matSliderStartThumb>
        <input [ngModel]="timeEnd" (ngModelChange)="timeEnd = $event" matSliderEndThumb>
      </mat-slider>
      <div class="values-container">
        <span>{{ convertSliderValueToTime(timeStart) }}</span>
        -
        <span>{{ convertSliderValueToTime(timeEnd) }}</span>
      </div>
    </div>

    Select:
    <br>
    <mat-button-toggle-group [(ngModel)]="selectionType" (change)="onSelectionTypeChange()" name="fontStyle"
                             aria-label="Font Style">
      <mat-button-toggle value="airport">Airport</mat-button-toggle>
      <mat-button-toggle value="route">Route</mat-button-toggle>
    </mat-button-toggle-group>

    <div *ngIf="selectionType == 'airport'">
      <app-airport-info></app-airport-info>
    </div>
    <div *ngIf="selectionType == 'route'">

    </div>
  </div>

  <div class="side-panel">
    <h1>Filter Panel</h1>

    <h2>Airports</h2>
    <select [(ngModel)]="airportDisplayType" (change)="onAirportDisplayTypeChange()">
      <option *ngFor="let type of airportDisplayTypes" [value]="type">{{ type }}</option>
    </select>

    <h2>Routes</h2>
    <select [(ngModel)]="routeDisplayType" (change)="onRouteDisplayTypeChange()">
      <option *ngFor="let type of routeDisplayTypes" [value]="type">{{ type }}</option>
    </select>

    <br>
    <br>
    Filter:
    <select [(ngModel)]="routeFilterType" (change)="onRouteFilterTypeChange()">
      <option *ngFor="let type of routeFilterTypes" [value]="type">{{ type }}</option>
    </select>

    <!--
    <input type="range" min="1" max="100" (change)="onSliderChange($event)">
    -->

    <br>
    <br>
    <div *ngIf="histogramData.length > 1">
      <app-histogram [boxWidth]="300" [boxHeight]="300" [data]="histogramData"></app-histogram>
    </div>
    <br>
    <br>
    <mat-slider min="200" max="500">
      <input value="300" matSliderStartThumb>
      <input value="400" matSliderEndThumb>
    </mat-slider>

    <div class="values-container">
      <span>{{ lowerValue }}</span>
      <br>
      <span>{{ upperValue }}</span>
    </div>
  </div>
</div>
