<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title class="panel-title">
      Filter Panel
    </mat-panel-title>
  </mat-expansion-panel-header>

  <h2>Airports</h2>
  <select [(ngModel)]="generalFilter.airportDisplayType" (change)="onAirportDisplayTypeChange()">
    <option *ngFor="let type of airportDisplayTypes" [value]="type">{{ type }}</option>
  </select>
  <h2>Routes</h2>
  <select [(ngModel)]="generalFilter.routeDisplayType" (change)="onRouteDisplayTypeChange()">
    <option *ngFor="let type of routeDisplayTypes" [value]="type">{{ type }}</option>
  </select>

  <br>
  <br>
  <div class="route-filter-container">
    <h3>Route Filters</h3>
    <select class="inverted-select" [(ngModel)]="routeFilter.routeFilterType" (change)="onRouteFilterTypeChange()">
      <option *ngFor="let type of routeFilterTypes" [value]="type">{{ type }}</option>
    </select>

    <br>
    <div class="slider-container">
      <mat-slider
        class="enlarged-slider"
        min="{{ minSliderValue }}"
        max="{{ maxSliderValue }}"
        step="1"
        (change)="onSliderRangeChange()">
        <input [ngModel]="routeFilter.start" (ngModelChange)="routeFilter.start = $event" matSliderStartThumb>
        <input [ngModel]="routeFilter.end" (ngModelChange)="routeFilter.end = $event" matSliderEndThumb>
      </mat-slider>
    </div>

    <div class="values-container">
      <div *ngIf="routeFilter.routeFilterType == RouteFilterType.DURATION">
        <span>{{ routeFilter.start | intToTimeofday }}{{ routeFilter.routeFilterType | routeFilterType }}</span>
        -
        <span>{{ routeFilter.end | intToTimeofday }}{{ routeFilter.routeFilterType | routeFilterType }}</span>
      </div>

      <div *ngIf="routeFilter.routeFilterType == RouteFilterType.DISTANCE">
        <span>{{ routeFilter.start }}{{ routeFilter.routeFilterType | routeFilterType }}</span>
        -
        <span>{{ routeFilter.end }}{{ routeFilter.routeFilterType | routeFilterType }}</span>
      </div>
    </div>
  </div>
  <br>
  <br>

  <button (click)="resetFilters()">Reset Filters</button>

</mat-expansion-panel>
