<h1>Filter Panel</h1>

<h2>Airports</h2>
<select [(ngModel)]="generalFilter.airportDisplayType" (change)="onAirportDisplayTypeChange()">
  <option *ngFor="let type of airportDisplayTypes" [value]="type">{{ type }}</option>
</select>

<h2>Routes</h2>
<select [(ngModel)]="generalFilter.routeDisplayType" (change)="onRouteDisplayTypeChange()">
  <option *ngFor="let type of routeDisplayTypes" [value]="type">{{ type }}</option>
</select>

<br>
<br>
Filter: //TODO add 'legCount in route'
<select [(ngModel)]="routeFilterType" (change)="onRouteFilterTypeChange()">
  <option *ngFor="let type of routeFilterTypes" [value]="type">{{ type }}</option>
</select>


<br>
<br>
<div class="slider-container">
  <mat-slider
    class="enlarged-slider"
    thumbLabel
    tickInterval="1"
    min="0"
    max="1439"
    step="1"
    (change)="onTimeRangeChange()">
    <input [ngModel]="timeFilter.timeRange.start" (ngModelChange)="timeFilter.timeRange.start = $event" matSliderStartThumb>
    <input [ngModel]="timeFilter.timeRange.end" (ngModelChange)="timeFilter.timeRange.end = $event" matSliderEndThumb>
  </mat-slider>
  <div class="values-container">
    <div *ngIf="!timeFilter.timeRange.inverted">
      UTC:
      <span>{{ convertIntToTimeOfDay(timeFilter.timeRange.start) }}</span>
      -
      <span>{{ convertIntToTimeOfDay(timeFilter.timeRange.end) }}</span>
    </div>

    <div *ngIf="timeFilter.timeRange.inverted">
      UTC:
      <span>{{ convertIntToTimeOfDay(minTime) }}</span>
      -
      <span>{{ convertIntToTimeOfDay(timeFilter.timeRange.start) }}</span>
      and

      <span>{{ convertIntToTimeOfDay(timeFilter.timeRange.end) }}</span>
      -
      <span>{{ convertIntToTimeOfDay(maxTime) }}</span>
    </div>

    <div *ngIf="panelOpenState"> ({{ timeFilter.timeRange.inverted ? 'exlcuding' : 'including'}} slider)</div>
  </div>
</div>

<div class="values-container">
  <span>{{ lowerValue }}</span>
  <br>
  <span>{{ upperValue }}</span>
</div>
